* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--gap: 1em;
	--index: calc(1vw + 1vh);
	--color-dark: #000;
}

body {
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.header {
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	letter-spacing: .1em;
	font-size: calc(var(--index) * 2.8);
	position: absolute;
	text-align: center;
	margin-top: .2em;
	font-weight: 200;
	opacity: .9;
}

.header>span {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(var(--index) * .75);
	margin-top: 5px;
}

.gallery {
	width: 30vw;
	column-width: 2em;
	gap: var(--gap);
	transform: scale(8.2);
	will-change: transform;
	transition: transform 1s cubic-bezier(.075, 1, .25, 1), opacity 1s;
}

.gallery__item {
	margin-bottom: var(--gap);
	border-radius: 1px;
	transform: scale(1.001);
	will-change: transform;
	transition: .3s;
	overflow: hidden;
	box-shadow: 1px 1px 2px #202124;
}

.gallery__item:hover {
	transform: scale(1.03);
}

.gallery__item img {
	width: 100%;
	/* border-radius: 1px; */
	display: block;
}

.loaded .gallery {
	opacity: 1;
}

.loaded .header span {
	opacity: 0;
}

/* DarkMode */

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-dark);
	}

	.header {
		filter: invert(100%);
	}

	.gallery__item {
		box-shadow: 1px 1px 2px #222328;
	}
}